<!DOCTYPE html>
<html>
<head>
    <title>FAD</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
</head>
<body style="background:#232323">
    <div class="text-light bg-dark align-text-center"></div>
    <br><br>
        <h1 style="font-size:10vw; color:white; text-align:center">
            F<a style="font-size:2.5vh">ootball&emsp;</a>
            A<a style="font-size:2.5vh">nalytics&emsp;</a>
            D<a style="font-size:2.5vh">ashboard&emsp;</a> </h1>
            <br><br>
        <div style="font-size:2.5vh; color:white; text-align:center; padding-left:8vw;padding-right:8vw">
            Welcome to FAD, currently displaying data from the English Premier League 2020/2021. Data behind the dashboard has been scraped from an excellent website called <a href="https://www.understat.com">Understat</a>
            using code found at my git repo <a href="https://github.com/laurencelj">here</a>
        <br><br>
        <a style="text-align:center">Please type the name of a player below to see the relevant stats
            <div><br>
                <form method="POST">
                    <input name="text" style="width:45vh">
                    <input type="submit" value="GO!" style="background-color:white; color:black;border: none;outline:none">
                </form><br>
            </div>
        </a>

    </div>
    <br>
    <hr style="border-color:white">

        <div class="row" style="padding=200px; padding-left: 5vh; font=size:5vh; color:white">
            <div class="col-lg-3">
                <h1 style="font-size:6vh">{{ headline_stats["name"] }} </h1>
            </div>
            <div class="col-lg-3">
                <h5 style="font-size:3vh">{{ headline_names["club"] }} {{ headline_stats["club"] }}</h5>
                <h5 style="font-size:3vh">{{ headline_names["pos"] }} {{ headline_stats["pos"] }}</h5>
            </div>
            <div class="col-lg-3">
                <h5 style="font-size:3vh">{{ headline_names["goals"] }} {{ headline_stats["goals"] }}</h5>
                <h5 style="font-size:3vh">{{ headline_names["assists"] }} {{ headline_stats["assists"] }}</h5>
            </div>
            <div class="col-lg-3">
                <h5 style="font-size:3vh">{{ headline_names["points_contrib"] }} {{ headline_stats["points_contrib"] }}</h5>
                <h5 style="font-size:3vh">{{ headline_names["defensive_impact_season"] }} {{ headline_stats["defensive_impact_season"] }}</h5>
            </div>

        </div>
    <hr style="border-color:white">
    <br>

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-xl-4" style="font-size:2.5vh; color:white; text-align:center">
                <h4 style="font-size:4.5vh">Minutes played</h4>
                <img src="/static/plots/mins.png" class="img-fluid" alt="Responsive image">
                <br>The total number of minutes played across the season.
            <br><br></div>
            <div class="col-xl-4" style="font-size:2.5vh; color:white; text-align:center">
                <h4 style="font-size:4.5vh">Shot conversion efficiency</h4>
                <img src="/static/plots/shot_conversion.png" class="img-fluid" alt="Responsive image">
                <br>Shot conversion is the ratio of goals scored against how many shots occurred. The higher this number, the more efficiently the player converted shots into goals.
           <br><br> </div>
            <div class="col-xl-4" style="font-size:2.5vh; color:white; text-align:center">
                <h4 style="font-size:4.5vh">Assist efficiency</h4>
                <img src="/static/plots/assist_conversion.png" class="img-fluid" alt="Responsive image">
                <br>A key pass is a pass which resulted in a goal-scoring opportunity which was then missed. Using this and the assisted goals, we can calculate how effective a player's goal-creating passing is.
            <br><br></div>
        </div>
    </div>
    <br><hr style="border-color:white"><br>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-xl-6" style="font-size:2.5vh; color:white; text-align:center">
                <h4 style="font-size:4.5vh">Goals and xG</h4>
                <img src="/static/plots/xG_graph.png" class="img-fluid" alt="Responsive image">
                <br>xG is a metric which is calculated to reflect how many goals you might expect a player to
                score on average given the quality of opportunities to score that they had during a match.
                The line shows xG whereas the bars show the goals scored.
            <br><br></div>
            <div class="col-xl-6" style="font-size:2.5vh; color:white; text-align:center">
                 <h4 style="font-size:4.5vh">Assists and xA</h4>
                <img src="/static/plots/xA_graph.png" class="img-fluid" alt="Responsive image">
                Similarly to xG, xA is a measure of an expected output you might expect on average from a player during a game,
                but this time for assists rather than goals. The line shows xA overlayed with the number of assists per game.
            <br><br></div>
        </div>
    </div>
    <br><hr style="border-color:white"><br>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-xl-6" style="font-size:2.5vh; color:white; text-align:center">
                <h4 style="font-size:4.5vh">Effect on league position</h4>
                <img src="/static/plots/changed_table.png" class="img-fluid" alt="Responsive image">
                This plot shows the effect that the goals and assists had on the league position at the end of the season.
            <br><br></div>
            <div class="col-xl-6" style="font-size:2.5vh; color:white; text-align:center">
                 <h4 style="font-size:4.5vh">Defensive xG effect per 90</h4>
                <img src="/static/plots/def_xg.png" class="img-fluid" alt="Responsive image">
                <br>This shows how well a player's team defends when the player is in the side. It is the sum of the differences between the opponent xG and the average xG for that opponent across the season, averaged out across all the games that player played in. A number above 0 means that the team were on average better at defending. A number equal to 1 would mean that the team conceeded on average 1 xG fewer per game across the season that the league average.
            <br><br></div>
        </div>
    </div>


    <div class="chart-container" style="position: relative; height:60; width:60">
        <canvas height=40 width=40 id="myChart"></canvas>
    </div
    <br><br>
    <hr style="border-color:white">
    <br>
    <div style="color:white;text-align:center; font-size:2.5vh">All data gathered belongs to Understat and is used on this site for the sole purpose of demonstrating coding skills
    <br><br>
    All engineering and development completed by Laurence Lyndon-Jones</div>
    <br><a> </a>

</body>
</html>
